/* Hide system cursor everywhere */
* {
  cursor: none;
}

/* Outer container tracks position */
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 50;
  will-change: transform;
}

/* Inner bubble handles scale & appearance */
#cursor-inner {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: rgba(38, 107, 218, 0.4); /* blue-500 @ 40% */
  transition: transform 0.15s ease-out;
  transform-origin: center;
}

/* Show normal cursor when gallery open */
.lg-container * {
  cursor: pointer !important;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border-color: oklch(50% 0.134 242.749) !important;
  border-width: 3px !important;
}
